@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #eaecef;
}

header {
    padding: 30px;
    background-color: #011627;
    height: 40px;
}

.sidenav {
    width: 200px;
    background-color: #011627;
    position: fixed;
    /* left: ; */
    height: 100%;
    padding: 0 10px;
    transition: all 0.7s;
    overflow: hidden;
    word-break: keep-all;
}

@media only screen and (max-width: 600px) {
    .sidenav {
        width: 200px;
        background-color: #011627;
        position: fixed;
        /* left: -10%; */
        height: 100%;
        padding: 0 10px;
        transition: all 0.7s;
        overflow: hidden;
        word-break: keep-all;
    }
}

.sidenav.active {
    left: 0;
    width: 50px;
    overflow: hidden;
    word-break: keep-all;
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
    margin: 10px;
}

.logo {
    width: 50px;
}

ul li a {
    color: #eaecef;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    border-radius: 6px;
    word-break: keep-all;
    white-space: nowrap;
}

ul li a:hover,
ul li a:active {
    background-color: #172b4d;
    word-break: keep-all;
    white-space: nowrap;
}

header svg {
    font-size: 40px;
}

.main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: black;
}
